.usa-epidemic{
    height: 100vh;
    display: flex;
    .left-container, .right-container{
        flex: 1;
    }
    .middle-container{
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 18px 0;
        .epidemic-number__visual{
            margin-top: 56px;
        }
        #usa-map__container{
            max-width: 50%;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            max-height: 400px;
        }
    }
    
}