.usa-epidemic{
    height: 100vh;
    display: flex;
    .left-container, .right-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .middle-container{
        width: 45%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
        padding: 18px 0;
        #usa-map__container{
            max-width: 50%;
            max-height: 400px;
        }
        .chart-board__container{
            margin: 0 auto;
        }
    }
    .left-container{
        padding: 0 12px;
    }
}